.first-text{
    color:rgb(17, 17, 178);
    font-size: 20px;
    text-align: center;
    margin:20px;
    border: 7px solid rgb(28, 178, 28);
    border-radius: 20px;
}

.second-text{
    color:yellow;
    font-size: 20px;
    text-align: right;
    border-left: 7px solid red;
    border-right: 7px solid red;
    border-bottom: 7px solid red;
    border-radius: 20px;
}